# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
envs/

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
build/
dist/
*.egg-info/

# Logging files
*.log
